body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}
.banner{
    
    background-image: url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    

    
}
.text{
    margin: auto;
    padding: 100px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
 
}
.heading1{
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heading2{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
}